body, p, h1, h2, h3, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    background: #1a393b;
}
  
  
*,
*::after,
*::before {
    box-sizing: border-box;
}


.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto; 
}

.header {
    background: #003034;
}

.head {
    background: url(../img/head.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}
